button{
    width: 50px;
    height: 50px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    border: none;
    background-color: white;
    font-size: 1.7rem;
    font-weight: bold;
    cursor: pointer;
    font-family: Inter, sans-serif;
}

.colored{
    background-color: aquamarine;
}
